# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [2]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'

### Step 3. Assign it to a variable called wine

In [3]:
wine=pd.read_csv(url, sep=',')

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [20]:
wine.columns

Index(['1', '14.23', '1.71', '2.43', '15.6', '127', '2.8', '3.06', '.28',
       '2.29', '5.64', '1.04', '3.92', '1065'],
      dtype='object')

In [25]:
wine.drop(wine.columns[[0,3,6,8,10,12,13]], axis=1, inplace=True)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [26]:
wine.columns=['alcohol', ' malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue' ]

In [27]:
wine.head(2)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [32]:
wine.loc[:3, 'alcohol']=np.nan
wine.head(3)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,1.05
1,NaN,2.36,18.6,101,3.24,2.81,1.03
2,NaN,1.95,16.8,113,3.49,2.18,0.86

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [36]:
wine.loc[3:4, 'magnesium']=np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [50]:
wine['alcohol']=wine['alcohol'].replace(np.nan, 10)
wine['alcohol'].head(4)
wine['magnesium']=wine['magnesium'].replace(np.nan, 100)

### Step 9. Count the number of missing values

In [51]:
wine.isna().sum()

alcohol              0
 malic_acid          0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [54]:
rand=np.random.randint(0,10, 10)

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

ValueError: Length mismatch: Expected axis has 177 elements, new values have 10 elements

### Step 12.  How many missing values do we have?

### Step 13. Delete the rows that contain missing values

### Step 14. Print only the non-null values in alcohol

### Step 15.  Reset the index, so it starts with 0 again

### BONUS: Create your own question and answer it.