# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [7]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris=pd.read_csv(url, sep=',')
iris.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

### Step 4. Create columns for the dataset

In [57]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

In [15]:
iris.columns= ['sepal_length(in cm)', 
          'sepal_width(in cm)', 
          'petal_length(in cm)',
          'petal_width(in cm)','class']

iris.head(2)

,sepal_length(in cm),sepal_width(in cm),petal_length(in cm),petal_width(in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [17]:
iris.isnull().sum()

sepal_length(in cm)    0
sepal_width(in cm)     0
petal_length(in cm)    0
petal_width(in cm)     0
class                  0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [20]:
iris.loc[10:29, 'petal_length(in cm)']

10    1.6
11    1.4
12    1.1
13    1.2
14    1.5
15    1.3
16    1.4
17    1.7
18    1.5
19    1.7
20    1.5
21    1.0
22    1.7
23    1.9
24    1.6
25    1.6
26    1.5
27    1.4
28    1.6
29    1.6
Name: petal_length(in cm), dtype: float64

### Step 7. Good, now lets substitute the NaN values to 1.0

### Step 8. Now let's delete the column class

### Step 9.  Set the first 3 rows as NaN

### Step 10.  Delete the rows that have NaN

### Step 11. Reset the index so it begins with 0 again

### BONUS: Create your own question and answer it.